@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

:root {
  --color-dark: #121B25;
  --color-green: #10B981;
  --color-green-dark: #0D5C46;
  --color-gray: #6B7280;
  --color-bg: #F9FAFB;
  --color-white: #FFFFFF;
  
  --font-heading: 'Playfair Display', serif;
  --font-text: 'Inter', sans-serif;
}